<div class="calendar">
  	
</div>

<div id="myModal" class="modal fade modal-calender" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Subject to this time-slot </h4>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  
    var calendarObject = $('.calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'agendaWeek,agendaDay'
      },
      defaultView: "agendaWeek",
      firstDay: 1,
      slotDuration: "00:30:00",
      scrollTime: "08:00:00",
      timezone: false,
      eventSources: [
        { 
          googleCalendarApiKey: 'AIzaSyBygb2VxPHEs8rV8j7dgreRvpowydmGrow',
          url: 'https://www.google.com/calendar/feeds/indian__en%40holiday.calendar.google.com/public/basic',

          color: 'red',   // an option!
          textColor: 'black' // an option!

        },
        {
            url: '<%= institute_timetable_slots_path(@institute) %>',
            color: '#a8a8e8',   // an option!
            textColor: 'black' // an option!
        }

      ],
      editable: true,
      selectable: true,
      selectHelper: true,
      eventClick: function(event, jsEvent, view) {
          
          /*if(event.edit_url){
            $.ajax({
              url: event.edit_url,
              complete: function(data){
                if(data.status == "200"){
                  eval(data.responseText);
                }
              }
            });
          }else{
            window.open(event.url);
          }
                
          return false;*/
      },

      select: function(start, end) {
        
        $.ajax({
          url: "/institutes/<%= @institute.id%>/timetable_slots/new.js?grade_id=<%= @grade.id %>&section_id=<%= @section.id%>&start_time=" + start.format('YYYY-MM-DD hh:mm') + '&end_time=' + end.format('YYYY-MM-DD hh:mm'),
          complete: function(data){
            if(data.status == "200"){
              $('#myModal').find('.modal-body').html(data.responseText);
              $('#myModal').modal('show');
            }
          }
        });
        
        $(this).fullCalendar('unselect');
      },
      eventDrop: function(event,dayDelta,minuteDelta,allDay,revertFunc) {
        
        if(event.update_url){
          if (confirm("update this event?")) {
              if(event.end){
                endTime = event.end
              }else{
                endTime = event.start  
              }
              
              $.ajax({
              url: event.update_url + "&start_time=" + event.start.format('YYYY/MM/DD hh:mm') + "&end_time=" + endTime.format('YYYY/MM/DD hh:mm') + "&is_all_day_event=" + allDay,
              method: "PATCH",
              complete: function(data){
                if(data.status == "200"){
                  eval(data.responseText);
                }
              } 
            });
          }
          
          
        }else{

        }
      },
      eventResize: function(event, delta, revertFunc) {
      if(event.update_url){
        if (confirm("update this event?")) {
              $.ajax({
              url: event.update_url + "&start_time=" + event.start.format('YYYY/MM/DD hh:mm') + "&end_time=" + event.end.format('YYYY/MM/DD hh:mm'),
              method: "PATCH",
              complete: function(data){
                if(data.status == "200"){
                  eval(data.responseText);
                }
              } 
            });
          }
          
        }else{
          
        } 
          

    }
    });

</script>