newHtml = ['<h1> Thank you for your input </h1>',


<% if(!institute_email.blank?) %>
	'<p> We have sent an email to <%= institute_name %> on <%= institute_email %> . We will notify ',	'you once your Institute subscribes to our services.',
	'</p>',
<% end %>

<% if(!institute_mobile.blank?) %>
	'<p> We have sent a SMS to <%= institute_name %> on <%= institute_mobile %> . We will give them ', 'a call shortly. We will notify you once your Institute subscribes to our services.',
	'</p>',
<% end %>

'<p>',
	'Meanwhile, you can approach your institue and recommend them to subscribe to our services. We will ', 'be happy to hear from them.', 
'</p>'];

$('body').html(newHtml.join(""));

