<% content_for :heading do %>
	<a class="mybtn btn btn-link btn-xs pull-left" href="/"><i class="material-icons">&#xE317;</i>Notices</a>
<% end %>
<div id="all-notices-analytics" style="max-width:600px;margin:0 auto;padding:30px;max-height: inherit;margin-top: 60px;">
	<ul class="list-unstyled sticky-notices">
		<% if(!@notices.blank?) %>
			<% @notices.each do |notice| %>
				<li>
					<%= render partial: "notices/notice", locals: {notice: notice} %>
				</li>	
				
			<% end %>
			<% if(current_user.role.include?("Principal") or current_user.role.include?("Institute Admin")) %>
				<%= link_to new_institute_notice_path(@institute), class:"new-notices-icons", style: "top:inherit; bottom:60px;" do %>
					<i class="material-icons">&#xE147;</i>
				<% end %>
			<% end %>
			
		<% else %>
			<% if(current_user.role.include?("Principal") or current_user.role.include?("Institute Admin")) %>
				<%= link_to new_institute_notice_path(@institute) do %>
					<p class="no-attendance-records">
						You have no notices! Create One..
					</p>
				<% end %>	
				<%= link_to new_institute_notice_path(@institute), class:"new-notices-icons", style: "top:inherit; bottom:60px;" do %>
					<i class="material-icons">&#xE147;</i>
				<% end %>
			<% else %>
				<p class="no-attendance-records">
					No Notice posted yet!
				</p>	
			<% end %>
		<% end %>
		
	</ul>	
</div>

<script>
	if (window.location.href.indexOf("notices") > -1) {
		$('body').css('background-color', 'rgb(188, 214, 224)');
	}
</script>