<% content_for :heading do %>
	Notices
<% end %>
<div id="all-notices-analytics" style="padding:30px;max-height: inherit;margin-top: 70px;">
	<ul class="list-unstyled sticky-notices">
		<% if(!@notices.blank?) %>
			<% @notices.each do |notice| %>
				<li>
					<%= render partial: "notices/notice", locals: {notice: notice} %>
				</li>	
				
			<% end %>
		<% end %>
		
	</ul>	
</div>