<% content_for :heading do %>
	<a class="mybtn btn btn-link btn-xs pull-left" href="/"><i class="material-icons">&#xE317;</i>Notices</a>
<% end %>
<div id="all-notices-analytics" style="padding:30px;max-height: inherit;margin-top: 60px;">
	<ul class="list-unstyled sticky-notices">
		<% if(!@notices.blank?) %>
			<% @notices.each do |notice| %>
				<li>
					<%= render partial: "notices/notice", locals: {notice: notice} %>
				</li>	
				
			<% end %>
			<%= link_to new_institute_notice_path(@institute), class:"new-notices-icons" do %>
				<i class="material-icons">&#xE147;</i>
			<% end %>
		<% else %>
			<% if(["Principal", "Institute Admin"]).include?(current_user.role) %>
				<%= link_to new_institute_notice_path(@institute) do %>
					<p class="no-attendance-records">
						You have no notices! Create One..
					</p>
				<% end %>	
				<%= link_to new_institute_notice_path(@institute), class:"new-notices-icons" do %>
					<i class="material-icons">&#xE147;</i>
				<% end %>
			<% else %>
				<p class="no-attendance-records">
					No Notice posted yet!
				</p>	
			<% end %>
		<% end %>
		
	</ul>	
</div>