<nav class="navbar navbar-inverse navbar-fixed-top main-app-header main-app-conversation-new-header notices-header">
	<div class="container-fluid">
		<div class="navbar-header main-app-header main-app-conversation-new-header pull-left">
			<a class="mybtn btn btn-link btn-xs pull-left" href="/notices"><i class="material-icons">&#xE317;</i></a>
		</div>
	</div>
</nav>	
<div class="notices-single-show" style="margin-top:56px;">
	<ul class="list-unstyled sticky-notices sticky-notes-show">
		<li>
			<%= render partial: "notice", locals: {notice: @notice, institute: @institute, grade_section_models: @grade_section_models} %>	
		</li>
	</ul>
</div>
<script>
	if (window.location.href.indexOf("notices") > -1) {
		$('body').css('background-color', '#009688');
	}
</script>