<h1>Welcome to ClassTalk</h1>

<p>Your Login Email is: <%= @user.email %> </p>
<p><%= "Your Login Mobile No is: #{@user.mobile_no}" if !@user.mobile_no.blank? %></p>
<p>Your Login Password is: <%= @user_password %> </p>

<p>You have received this mail because you either changed your ClassTalk account password recently or you requested your ClassTalk account password or recently joind ClassTalk with this email. </p>

<p>Visti <a href="https://classtalk.in"> ClassTalk </a> to explore more.</p>

<p> Thanks for joining and have a great day !</p>
