<% content_for :heading do %>
	Class 1A
<% end %>
<div class="admin-class-page" style="margin-top:75px;">
	<ul class="list-unstyled list-inline text-center">
		<li>
			<div class="ch-item">	
				<div class="ch-info">
					<h3>5 Subjects</h3>
					<p><a href="#">1A</a></p>
				</div>
				<div class="ch-thumb">
					<span>Section A</span>
					<span>10 Students</span>
				</div>
			</div>
			<button class="btn btn-info"><%= link_to do %>Go To Section 1A<% end %></button>
		</li>
		<li>
			<div class="ch-item">	
				<div class="ch-info">
					<h3>5 Subjects</h3>
					<p><a href="#">1B</a></p>
				</div>
				<div class="ch-thumb">
					<span>Section B</span>
					<span>10 Students</span>
				</div>
			</div>
			<button class="btn btn-info"><%= link_to do %>Go To Section 1B<% end %></button>
		</li>
		<li>
			<div class="ch-item">	
				<div class="ch-info">
					<h3>5 Subjects</h3>
					<p><a href="#">1C</a></p>
				</div>
				<div class="ch-thumb">
					<span>Section C</span>
					<span>10 Students</span>
				</div>
			</div>
			<button class="btn btn-info"><%= link_to do %>Go To Section 1C<% end %></button>
		</li>
		<li>
			<div class="ch-item">	
				<div class="ch-info">
					<h3>5 Subjects</h3>
					<p><a href="#">1D</a></p>
				</div>
				<div class="ch-thumb">
					<span>Section D</span>
					<span>10 Students</span>
				</div>
			</div>
			<button class="btn btn-info"><%= link_to do %>Go To Section 1D<% end %></button>
		</li>
	</ul>
</div>
<script>
	var randomColors = ["#35a5a5",'#8cc4c4','#8b5861',"#d7b26f"];
	$(".ch-thumb").each(function(index) {
        var len = randomColors.length;
        var randomNum = Math.floor(Math.random()*len);
        $(this).css("backgroundColor",randomColors[randomNum]);
        randomColors.slice(randomNum, 1);
    });
</script>
	
