<% content_for :heading do %>
	Gaurav Kumar
<% end %>
<div class="container" style="margin-top:90px;">
	<div class="row">
		<div class="user-details">
            <div class="user-image">
                <%= image_tag "default_profile_picture.png" , class:"img-circle img-xs"%>
            </div>
            <div class="user-info-block">
                <div class="user-heading">
                    <span class="help-block">Parent in Class 1A</span>
                </div>
				<div class="user-body">
                    <div class="">
                        <div id="information">
							<p>
								<%= link_to root_path do %>
									Messages
								<% end %>
							</p>
							<p>
								<%= link_to root_path do %>
									Notices
								<% end %>
							</p>
							<div class="personal-infromation">
								<h4>Personal Information</h4>
								<p>Father of Prenit, Class 1A</p>
								<p>Contact Number</p>
							</div>							
                        </div>
						<div class="log-out">
							<button type="button" class="btn btn-danger">LogOut</button>
						</div>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>	