<% content_for :heading do %>
	Prenit Wankhede
<% end %>
<div class="container" style="margin-top:90px;">
	<div class="row">
		<div class="user-details">
            <div class="user-image">
                <%= image_tag "default_profile_picture.png" , class:"img-circle img-xs"%>
            </div>
            <div class="user-info-block">
                <div class="user-heading">
                    <span class="help-block">Teacher</span>
                </div>
				<div id="information">
					<p class="subject-list">Subjects<i class="material-icons arrow-up-icon pull-right">&#xE316;</i></p>
					<ul class="subject-list-subjects list-unstyled">
						<li>Science</li>
						<li>Maths</li>
						<li>Hindi</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>	