<% content_for :heading do %>
	Notices
<% end %>
<div id="all-notices-analytics" style="padding:30px;max-height: inherit;margin-top: 70px;">
	<p class="text-center">Go To Notice Board</p>
	<ul class="list-unstyled sticky-notices">
		<li>
			<div class="all-notices-div">
					
				<div class="sticky-notices-tag">
					<p class="institute-notice">DAV Public School</p>
					<h2>Sports Day</h2>
					<p>Tommorow at 10:30 a.m</p>		
				</div>
				<div class="text-right notice-signature">
					<span class="pull-left">11/10/2016</span>
					<br>
					Signed By: Gaurav Alawadhi<br>
					School Admin
				</div>
			</div>
		</li>	
		<li>
			<div class="all-notices-div">
				<div class="sticky-notices-tag">
					<p class="institute-notice">DAV Public School</p>
					<h2>Sports Day</h2>
					<p>Tommorow at 10:30 a.m</p>		
				</div>
				<div class="text-right notice-signature">
					<span class="pull-left">11/10/2016</span>
					<br>
					Signed By: Gaurav <br>
					Class Teacher
				</div>
			</div>
		</li>	
	</ul>	
</div>