<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h2 class="nothing-posted">Forgot your password?</h2>
			<div class="col-lg-12">
				<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
					<div class="form-group">
						<%= f.text_field :login_credential, placeholder: "Email or Mobile No", class: "form-control" %>
					</div>
					
					<div class="form-group">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3">
								<%= f.submit "Send me reset password instructions", class: "form-control btn btn-login", style: "font-size: 10px;" %>
							</div>
						</div>
					</div>
				<% end %>
				<div class="text-center text-muted">
					or
				</div>
				<% if devise_mapping.omniauthable? %>
					<div class="form-group forgot-password">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3">
								<%= link_to "Sign in with Google Account", omniauth_authorize_path(resource_name, "google_oauth2"), class: "form-control btn btn-social" %><br />
							</div>
						</div>	
					</div>
				<% end %>
			</div>	
		</div>
	</div>	
</div>
