
@import "material_icons";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker";
@import "font-awesome";
@import "fullcalendar";


body{
	overflow-y:scroll;
	overflow-x:hidden;
}
.alert{
    position: fixed;
    max-width: 300px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -12px;
	z-index:1000;
}

ul.search-index-conversation-modal div.well-sm{
	padding:0px;
}
.wrapper >.navbar-default{
	box-shadow: none !important;
}
.inner-many-type-media{
	max-width: 200px;
    margin: 0 auto;
    text-align: center;
    background: #39a57c;
    color: #fff;
    border-radius: 3px;
	padding: 10px;
}
.dot-unread-position{
	position: absolute;
	top: 10px;
	left:14px;
}
.btn-danger:hover{
	background-color: #2ad;
	
}
.carousel-control.left span, .carousel-control.right span{
	background: #000;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    left: 31px;
}
.carousel-inner{
	max-width: 420px;
    margin: 0 auto;
}
.carousel-control.left span:before, .carousel-control.right span:before{
	top: 18px;
    position: absolute;
    left: 21px;
    font-size: 22px;
}
.carousel-control.right span{
    right: 31px;
    left: inherit;
}
.carousel-indicators{
	display:none;
}
a{
	cursor: pointer;
}
.nothing-posted{
	background: #8aa2ab;
    color: #feffff;
    font-size: 17px;
    text-align: center;
    padding: 10px;
    box-shadow: 1px 1px 8px #a7a5a5;
}
.pagination{
	position: absolute;
	left: 50%;
	margin-left: -150px;
}

.active-navigation a{
	border-bottom: 4px solid #fff;
}
.ajax-loader{
	background: rgba(78, 77, 77, 0.4);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
	z-index:1050;
}
.ajax-loader img{
	width: 90px;
    position: fixed;
    top: 50%;
    margin-top: -50px;
    left: 50%;
    margin-left: -50px;
}
div.student-message-homework-temp > div.messages-media{
	box-shadow:none;
}

h6.teachers-list-heading + div.classRoute{
	display:none;
}
div#class-plan > ul li h6.teachers-list-heading + div.classRoute, 
div#teacher-plan > ul li h6.teachers-list-heading + div.classRoute{
	display:block;
}
/*universal*/
a:hover,a:focus{
	text-decoration:none !important;
}
.navbar-default .navbar-brand{
	color:#fff;
}
.navbar-brand{
	font-family: 'Julius Sans One', sans-serif;
}
.navbar-brand:hover, .navbar-brand:focus{
    color: #fff !important;
}
.main-navbar-brand{
    font-size: 20px;
    color: #1e4472 !important;
    font-weight: bolder;
	padding:0;
	line-height: 2.5;
}
.main-navbar-brand:hover,.main-navbar-brand:focus{
	color: #1e4472 !important;
}
.main-navbar-brand a{
	font-size: 20px;
    color: #fff !important;
    font-weight: bolder;
    text-decoration: none;
    display: block;	
	margin-top: -6px;
    margin-left: -10px;
	padding-right: 3px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 10px;
}
p.no-attendance-records{
    background: #2ad;
    padding: 10px;
    color: #fff;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
    box-shadow: 1px 1px 2px #000;
}

.main-navbar-brand a i{
	vertical-align: middle;
    color: #fff;
    margin-right: 4px;
	font-size:28px;
}
.mar-btm{
	margin-bottom:10px;
}
.messages-unread-media{
	background:#d6d4d4;
}
.dot-unread{
	background: #fff;
    border-radius: 50%;
    color: #2ad;
    width: 18px;
    height: 18px;
    font-size: 11px;
    line-height: 1.7;
}
.checkmark:hover{
	cursor:pointer;
}
/*Login and signup form*/
.user-form{
	margin:5px auto;
}
.user-panel {
	background-color: #fff;
	border:none;
	border-radius:0;
	box-shadow: 0 1px 3px rgb(76, 76, 76);
}
.user-panel .panel-heading{
	border-radius:0;
	padding:0;
}
.user-panel .panel-heading .row{
	margin:0;
}
.user-panel .panel-heading .col-xs-6{
	padding:0;
}
.user-panel .panel-heading .col-xs-6 a{
	display:block;
	padding:15px;
	color:#2ad;
}
.user-panel .panel-heading .col-xs-6 a.active{
	background: #009688;
	color: #fff;
	transition: all 2s;
	-webkit-transition: all 2s;
	-moz-transition: all 2s;
}
.btn-login {
    background-color: #009688;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border:none;
	box-shadow: 1px 1px 9px #a2a2a2;
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
}

.btn-login:hover,
.btn-login:focus {
	color: #009688;
	background-color: #fff !important;
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
}
.btn-manual-details:hover,
.btn-manual-details:focus{
	color:#9c6a6a;
	background-color: #fff;
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
}

.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}
#register-form{
	display:none;
}

div.forgot-password a.btn-social,.user-panel .panel-body .col-lg-12> div.form-group a.btn-social{
	background-color:#db4437;
}
.btn-social{
	
	outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    border:none;
	box-shadow: 1px 1px 4px #a2a2a2;
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
}
.user-panel .panel-body .col-lg-12> div.form-group a.btn-social:hover,.user-panel .panel-body .col-lg-12> div.form-group a.btn-social:focus{
	color: #3b5998;
	background-color: #fff;
}
.user-panel .panel-body .col-lg-12> div.form-group + div.form-group a.btn-social:hover,.user-panel .panel-body .col-lg-12> div.form-group + div.form-group a.btn-social:focus{
	color: #db4437;
	background-color: #fff;
}
.btn-social:hover,
.btn-social:focus{		
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
} 
/*comlete registration page*/
div#user-profile-picture-target{
	position: relative;
    max-width: 100px;
    margin: 0 auto;
    margin-top: 3px;
}
div.user-profile-picture-inner-target > img{
	width: 100px;
    background: #009688;
    padding: 3px;
	height: 100px;
	box-shadow: 1px 1px 4px #444444;
	transition:all 1s;
	-webkit-transition:all 1s;
	-moz-transition:all 1s;
}
div.user-profile-picture-inner-target > label{
	position: absolute;
    bottom: -6px;
    right: -5px;
    cursor: pointer;
}
div.user-profile-picture-inner-target > label span{
	display: block;
    background: #009688;
    border-radius: 50%;
    padding: 6px;
    color: #fff;
    box-shadow: 1px 1px 4px #616161;
}
div.user-profile-picture-inner-target > label span + input[type=file]{
	display:none;
}
.form-button-register button,.form-button-register div{
	width:300px;
	margin:2px;
}
.btn-info-complete{
	height: 46px;
    box-shadow: 1px 1px 9px #a2a2a2;
    text-transform: uppercase;
	padding: 11px;
}
#map{
	height:200px;
    box-shadow: 1px 1px 6px #000;
    margin-bottom: 10px;
}
/*
.form-complete-register > div.col-md-9 > h3 + div.form-group, 
.form-complete-register > div.col-md-9> h3 + div.form-group + div.form-group,
div.edit-user-page > span+div.form-group,
div.edit-user-page > span+div.form-group + div.form-group 
{
	display:inline-block;	
}
.form-complete-register > div.col-md-9 > h3 + div.form-group,
div.edit-user-page > span+div.form-group
{
	width:98%;
}
.form-complete-register > div.col-md-9 > h3 + div.form-group + div.form-group,
div.edit-user-page > span+div.form-group + div.form-group
{
	width:49%;
}*/
.teachers-grades-div{
	margin-bottom: 10px;
}
.grades-div,.teachers-grades-div{
	position: relative;
	box-shadow: 1px 1px 4px #a5a2a2;
	border-radius: 4px;
	padding: 4px;
	margin-top: -14px;
}
.teachers-grades-div-circle{
	margin-top:0;
	box-shadow: none;
}
.main-grade> ul.detectul div.checkbox{
	margin-bottom:0;
}
.main-grade-circle{
	display:inline-block;
	padding:5px;
	max-width:200px;
	float: left;
}
.main-grade> ul.detectul{
	margin: 0;
    padding: 0;
    list-style: none;
}
.main-grade-circle > ul.detectCircle-ul {
	width: 190px;    
    padding: 10px;    
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;	
	transition: all 2s;
	-webkit-transition: all 2s;
	-moz-transition: all 2s;
	position:relative;
}
.detectCircle-ul-background{
	box-shadow: 1px 1px 7px #787575;
	background: #dbdbdc;
	transition: all 2s;
	-webkit-transition: all 2s;
	-moz-transition: all 2s;
}
.detectCircle-ul-background-checkbox {	
	display:block;
	width: 30px;
    height: 30px;
    background: #6fcc7a;
    position: absolute;
    border-radius: 50%;
    left: 30px;
    top: 20px;
    z-index: 2;
    box-shadow: 1px 1px 2px #4c4b4b;
}
.detectCircle-ul-background-checkbox:before{
	content: "";
	display:block;
	background:transparent;
	width: 6px;
    border-bottom: 2px solid #fff;
    height: 13px;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
	z-index:2;
	position: absolute;
    top: 7px;
    left: 10px;
}
.main-grade> ul.detectul label{
	display:block;
	background: #2ad;
    color: #fff;
    padding: 10px;
    cursor: pointer;
	position:relative;
	box-shadow: 1px 1px 5px #b1afaf;
}
.main-grade-circle > ul.detectCircle-ul label{
	border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    background: #517f90;
    box-shadow: 1px 1px 7px #000;
    color: #fff;
    position: relative;
}
.main-grade> ul.detectul label input{
	margin-left: 0;
}
.main-grade-circle > ul.detectCircle-ul label input{
	display:none;
	position:absolute;
	left:-10000px;
	top:-10000px;
}
.main-grade> ul.detectul label input + span{
	vertical-align: middle;
	margin-left: 21px;
}
.main-grade-circle> ul.detectCircle-ul label input + span{
	position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -30px;
    margin-top: -23px;
}
.main-grade> ul.detectul label input + span + span{
	position: absolute;
    right: 0;
	top: 7px;
}
.main-grade> ul.detectul label input + span + span i{
	transition:all 1s;
	-webkit-transition:all 1s;
	-moz-transition:all 1s;
}
.main-grade> ul.detectul + div.division-criterias{
	background: rgb(255, 255, 255);
    box-shadow: rgb(177, 175, 175) 1px 1px 5px;
    padding: 10px;
	position:relative;
}
.main-grade> ul.detectul + div.division-criterias>div.division-section + input{
    position: absolute;
    top: 9px;
    right: 7px;
}
.main-grade> ul.detectul + div.division-criterias > div.division-section input{
	vertical-align: middle;
    margin-top: 0;
}
.main-grade> ul.detectul + div.division-criterias>div.division-section input + span, div.division-upper-subjects > label div.division-inner-subjects > input+span{
	vertical-align: middle;
}
div.division-subjects, div.division-upper-subjects,div.division-upper-sections{
	margin-top: 10px;
    border-top: 1px dotted #ccc;
    padding-top: 4px;
}
.main-grade> ul.detectul + div.division-criterias > div.division-subjects > input, div.division-upper-subjects > label div.division-inner-subjects > input{
	vertical-align: middle;
    margin-top: 0;
}
.arrow-circle-up{
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);	
}
.isd-control{
	display: inline-block;
    width: 8%;
    padding: 0;
    padding-left: 4px;
    float: left;
    margin: 0;
    clear: left;
}
.phone-number-group{
	margin-bottom: 46px;
}
.isd-control + input{
	display: inline-block;
    float: right;
    width: 90%;
    clear: right;
}
.form-inline-select> div.form-group{
	width:50%;
}
.form-inline-select> div.form-group + div.form-group{
	width: 49%;
}
.form-inline-select> div.form-group, .form-inline-select> div.form-group + div.form-group{
    display: inline-block;
    vertical-align: middle;
}
label.file-label>span.file-label-class{
	background: #2ad;
    display: block;
    padding: 7px;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    bottom: 35px;
    right: 5px;
    font-size: 7px;
    box-shadow: 1px 1px 8px #929292;
}
label.file-label>span.file-label-class i{
	font-size:19px;
}
label.file-label > input[type=file]{
	display:none;
}
#new-group-profile-picture-inner-target img{
	margin:0 auto;
	width:100%;
}

/*Hamburger menu*/
.hamburger-menu {
	display: block;
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 41px;
	height: 50px;
	font-size: 0;
	text-indent: -9999px;
	appearance: none;
	box-shadow: none;
	border-radius: none;
	border: none;
	cursor: pointer;
	transition: background 0.3s;
}

.hamburger-menu:focus {
	outline: none;
}
.hamburger-menu span {
    display: block;
    position: absolute;
    top: 23px;
    left: 6px;
    right: 10px;
    height: 3px;
	background: white;
}

.hamburger-menu span::before,
.hamburger-menu span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  content: "";
}

.hamburger-menu span::before {
    top: -8px;
}
:focus{
	outline:none !important;
	outline:0 !important;
}
.hamburger-menu span::after {
	bottom: -8px;
}
.hamburger-menu-left-arrow {
	background-color: #32dc64;
}

.hamburger-menu-left-arrow span {
	transition: transform 0.3s;
}

.hamburger-menu-left-arrow span::before {
	transform-origin: top right;
	transition: transform 0.3s, width 0.3s, top 0.3s;
}

.hamburger-menu-left-arrow span::after {
	transform-origin: bottom right;
	transition: transform 0.3s, width 0.3s, bottom 0.3s;
}


.hamburger-menu-left-arrow.is-active {
	background-color: #18903c;
}

.hamburger-menu-left-arrow.is-active span {
	transform: rotate(180deg);
}

.hamburger-menu-left-arrow.is-active span::before,
.hamburger-menu-left-arrow.is-active span::after {
	width: 50%;
}

.hamburger-menu-left-arrow.is-active span::before {
	top: 0;
	transform: translateX(-3px) translateY(9px) rotate(45deg);
}

.hamburger-menu-left-arrow.is-active span::after {
	bottom: 0;
	transform: translateX(-2px) translateY(-9px) rotate(-45deg);
}
.main_toggle_menu >a i.arrow-up-icon{
	float:right;
}
#navbar ul li >a i{
	vertical-align:middle;
}
#navbar li a:hover, #navbar li a:focus{
	color:#fff !important;
	background: #6bbfdd !important;
	border-bottom: 4px solid #fff;
}
#navbar li.active a, #navbar li.active a{
	background: none !important;
	color:#fff !important;
}

ul.submenu{
	border-top: 1px solid rgb(228, 228, 228);
    background: rgb(255, 255, 255);
}
ul.submenu>li a{
	color: #2ad;
    display: block;
    padding: 9px;
    border-bottom: 1px solid #d6d6d6;
    padding-left: 49px;
}
ul.submenu>li:last-child a{
	border: 0px;
}
.from-input-date .bootstrap-datetimepicker-widget{
	left: inherit !important;
	right: inherit !important;
}
.from-input-date .bootstrap-datetimepicker-widget.dropdown-menu.pull-right:before,
.from-input-date .bootstrap-datetimepicker-widget.dropdown-menu.pull-right:after{
	left: inherit !important;
	right: inherit !important;
}
/*universal*/
.admin-home-content > div[id*="all"]{
	max-height:100%;
}
#all-institute-analytics{
	padding:0;
}
#all-institute-analytics>p, #all-notices-analytics>p{
	background: #f1f1f1;
    padding: 10px;
    color: #2ad;
    cursor: pointer;
    box-shadow: 1px 1px 3px #b1a9a9;
	margin:10px;
    margin-bottom: 11px;
}
#all-attendance-analytics> h3{
	margin: 0;
    text-align: center;
	margin-bottom:5px;
    color: #2ad;
    font-family: 'Julius Sans One', sans-serif;
}
.turbolinks-progress-bar {
  height: 3px;
  background-color: #fff;
}
#map{
	margin:10px;
	height:230px;
	box-shadow: 1px 1px 5px #a09e9e;
}

.wrapper >.navbar-default{
	background-color: #2ad;
    
	border:none;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color:#fff;
}
.navbar-default .navbar-nav>li>a{
	color:#fff;
}
span.personal-message-icon{
	display: block;
    background: #2ad;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 53px;
    right: 11px;
    z-index: 1000;
    cursor: pointer;
    text-align: center;
    line-height: 5;
    border-radius: 50%;
    box-shadow: 1px 1px 1px #b5b5b5;
}
span.personal-message-icon i{
	font-size: 25px !Important;
    color: #fff;
}
div.add-member, span.add-member{
	background: #8c8c8c;
    color: #fff;
    padding: 10px;
    font-size: 13px;
    box-shadow: 1px 1px 1px #afacac;
	margin-bottom:9px;
}
div.add-member>i,span.add-member>i{
	vertical-align: middle;
    margin-left: 10px;
    font-size: 18px;
}
ul.index-conversation-modal div.classRoute>ul{
	box-shadow: 1px 1px 10px #afacac;
    background: #ffffff;
    margin: 0px;
    padding: 10px;
	max-height:200px;
	overflow:scroll;
}

ul.index-conversation-modal{
	max-height:100% !important;
}
ul.index-conversation-modal div.negation-classRoute > ul{
	background:#2ad;
	overflow:hidden;
	padding:0;
}
 /*dropdown-submenu*/

.navbar-toggle {
  border: none;
  margin-right:0;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
 
.open > .caret-dropdown-menu {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);  
  opacity:1;
  padding: 0;
}
/*index*/
.main-media{
	padding:10px;
	padding-bottom:5px;
	margin:0;
	border-bottom: 1px solid #c7c5c5;
}
.main-media>.media-body>h4 span,.main-media>.media-body>h5 span{
    font-size: 10px;
    padding-left: 6px;
    line-height: 1.9;
}
.main-media>.media-body>p{
	margin:0;
}
.main-media>.media-body>span{
	font-size: 12px;
    color: #2ad;
}
.img-xs{
	width:40px;
}
.img-xss{
	width:20px;
	border-radius:2px;
	height:20px;
}
div.messages-media{
	box-shadow:1px 1px 7px #b1a9a9;
	margin: 10px;
	padding-bottom:6px;
}
div.media-content{
	padding: 10px;
    text-align: justify;
}
.attachments-in-messages{
	width: 100px;
    margin: 10px;
    box-shadow: 1px 1px 8px #b1a9a9;
}
h6.teachers-list-heading + div.classRoute div.tab-pane{
	border: 1px solid rgb(216, 214, 214);
}
h6.teachers-list-heading + div.classRoute{
	margin-bottom:0;
}
/*footer*/
.footer{
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	background-color: #2ad;
	z-index:1041;
}
.footer-list{
	margin:0;
}
.footer-list li{
	float:left;
    border-left: 1px solid #b7b1b1;
	cursor:pointer;
	width:33.333%;
	color:#fff;
	padding:0;
}
.link-attendance{
	font-size:11px;
}
ul.footer-list li a{
	color:#fff;
	text-decoration:none;
	padding:10px;
	display:block;
}
.calender-icon,.notice-icon,.attendance-icon{
    cursor: pointer;
    color: #fff;
    vertical-align: middle;
    margin-left: 7px;
    font-size: 21px !important;
}
.new-notices-icons{
	position: fixed;
    top: 60px;
    right: 9px;
}
.new-notices-icons i{
	color: #2ad;
    font-size: 50px;
}
/*Class*/
div.classRoute{
	margin-bottom:70px;
}
div.classRoute >ul.nav-tabs{
	border:none;
	background: #2ad;
	box-shadow: 1px 1px 6px #afacac;
}
div.classRoute >ul.nav-tabs >li{
	display:inline-block;

}
div.classRoute >ul.nav-tabs >li a,
div.classRoute >ul.nav-tabs >li.active a,
div.classRoute >ul.nav-tabs >li.active a:focus,
div.classRoute >ul.nav-tabs >li.active a:hover
{
	border:none;
	border-radius:0;
	margin:0;
	background-color:transparent;
	color:#fff;
}
div.classRoute >ul.nav-tabs >li.active a,
div.classRoute >ul.nav-tabs >li.active a:focus,
div.classRoute >ul.nav-tabs >li.active a:hover,
div.classRoute >ul.nav-tabs >li a:focus,
div.classRoute >ul.nav-tabs >li a:hover
{
	border-bottom: 4px solid #fff;
}
div.classRoute >ul.nav-tabs{
	overflow-y:hidden;
}
div[id*="all"]{
	padding:15px;
	max-height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.main-jumbotron{
	margin:0;
	border-radius:0 !important;
}
.img-media{
	width:90px;
}
.jumbotron-media{
	padding:5px;
}
.jumbotron-media .media-body{
	position:relative;
}
.jumbotron-media .media-body > p,
.main-jumbotron>div.row p{
	margin-bottom: inherit;
    font-size: inherit;
}
.jumbotron-media .media-body>span{
	position: absolute;
    top: 50%;
    right: 0;
    margin-top: -10px;
}

.tabs-container div.chat-show-tabs-upper-div ul{
	margin: 0;
    background: #8c8c8c;
}
.tabs-container{
	position:relative;
}
.scroller-fixed{
	background-color: #d4d1d0 !important;
	position: fixed;
    z-index: 2;
    top: 53px;
}
.scroller-fixed.scroller-right{
    right: 0;
}
.scroller-fixed.scroller-left{
    left: 0;
}
.tabs-container div.chat-show-tabs-upper-div ul>li.active>a, 
.tabs-container div.chat-show-tabs-upper-div ul>li.active>a:focus, 
.tabs-container div.chat-show-tabs-upper-div ul>li.active>a:hover
{
	border:none;
	border-radius:0;
    background-color: #eee;
	margin-right:0;
	color:#8c8c8c;
}
.tabs-container div.chat-show-tabs-upper-div ul>li>a{
	border:none;
	border-radius:0;
	margin-right:0;
	color:#eee;
	transition:all 1s;
	-webkit-transition:all 1s;
	-moz-transition:all 1s;
}
.tabs-container div.chat-show-tabs-upper-div ul>li>a:focus, 
.tabs-container ul>li>a:hover
{
	background-color:#eee;
	color: #c3c3c3;
}
	
.tabs-wrapper {
    position:relative;
    margin:0 auto;
    overflow:hidden;
  	min-height:50px;
	padding:5px;
	margin-top:10px;
}
ul.subject-list-subjects{
	display:block;
	padding: 10px;
    box-shadow: 1px 1px 3px #b1a9a9;
    margin: 5px;
    margin-top: 0;
	background: #ffffff;
    color: #949292;
}
.list {
    position:absolute;
    left:0px;
    top:0px;
  	min-width:3000px;
  	margin-left:12px;
    margin-top:0px;
}

.list li{
	display:table-cell;
    position:relative;
    text-align:center;
    cursor:grab;
    cursor:-webkit-grab;
    color:#efefef;
    vertical-align:middle;
}

.scroller {
	text-align: center;
    cursor: pointer;
    display: none;
    padding: 10px;
    white-space: no-wrap;
    vertical-align: middle;
    background-color: #2ad;
    box-shadow: 0px 0px 11px #4a4848;
    color: #fff;
}

.scroller-right{
  float:right;
}

.scroller-left {
  float:left;
}
.chat-show-tabs-upper-div.stick{
	position: fixed;
    top: 50px;
    left: 0;
    right: 0;
	z-index:1;
}
.stick ul#tablist{
	background: #2ad;
    box-shadow: 1px 1px 8px #b5b3b3;
    border: none;
}
.stick>.list li.active,
.stick>.list li:focus,
.stick>.list li:hover
{
	border-bottom: 4px solid #eee;
}
.stick li.active a, 
.stick li.active a:focus, 
.stick li.active a:hover
{
	background-color: #2ad !important;
    color: #eee !important;
}
.stick li>a:focus, .stick li>a:hover{
	background-color:transparent !important;
	color: #eee !important;
}
.checkbox-counter{
	margin-left: 40px;
    font-size: 11px;
}
/*search icon in modal*/
form.search-form + h4.modal-title{
	margin-left:39px;
}
.search-form .form-group {
	float: left !important;
    transition: all 0.35s, border-radius 1s;
    width: 32px;
    height: 32px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 25px;
    border: 1px solid #ccc;
    position: absolute;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
    width: 200px;
    border-radius: 0px;
    transition: all 1s;
    position: absolute;
}
.search-conversation-new-group .form-group:hover,
.search-conversation-new-group .form-group.hover {
	width: 200px;
    border-radius: 0px;
    transition: all 1s;
    position: absolute;
}
.search-conversation-new-group .form-group{
    right: 15px;
    top: 0;
}
.search-conversation-new-page .form-group{
	right: 4px;
}
.search-form .form-group span.form-control{
	margin-top: -34px;
    padding-left: 27px;
}
.search-form .form-group i.search-attendance-icon,.search-conversation-new-group .form-group i.search-conversation-new-group-icon {
	position: absolute;
    top: -1px;
    right: -3px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #d24c4c !important;
    left: initial;
    font-size: 14px;
	cursor:pointer;
}

/*Self Profile*/
.user-details {
	position: relative; 
	padding: 0;
}
.user-details .user-image {
	position: relative;  
	z-index: 1; 
	width: 100%; 
	text-align: center;
}
.user-image img { 
	clear: both; 
	margin: auto; 
	position: relative;
	width: 100px;
    box-shadow: 1px 1px 9px #cecaca;
}
.user-details .user-info-block {
	width: 100%; 
	position: absolute; 
	top: 55px; 
	background: rgb(255, 255, 255); 
	z-index: 0; 
	padding-top: 35px;
	box-shadow: 1px 1px 9px #cecaca;
}
.user-info-block .user-heading {
	width: 100%; 
	text-align: center; 
	margin: 10px 0 0;
}
.user-info-block .user-body {
	float: left; 
	width: 100%;
}
#information{
	margin: 10px;
}
#information> p, .link-button> a{
	background: #f1f1f1;
    padding: 10px;
	margin:5px;
	margin-bottom:0;
	color:#2ad;
	cursor:pointer;
	box-shadow: 1px 1px 3px #b1a9a9;
}
.link-button> a{
	display:block;
}
#information >p a{
	color:#2ad;
	display:block;	
}
.log-out button{
    display: block;
    width: 100%;
    border-radius: 0;
    padding: 16px;
}
.arrow-down-icon, .arrow-up-icon{
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
}
.arrow-down-icon{
	transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
}
ul.my-classes-teacher-toggle{
	padding: 10px;
    background: #2ad;
    margin: 5px;
    margin-top: 0;
    box-shadow: 1px 1px 8px #9a9696;
	display:none;
}
ul.my-classes-teacher-toggle> li{
    color: #2ad;
    padding: 5px;
    background: #fff;
    margin: 7px;
}
ul.my-classes-teacher-toggle li>a.pull-right{
	display: block;
    margin-top: -6px;
    margin-right: -6px;
    padding: 3px;
    background: #b7b4b4;
    color: #f1f1f1;
	text-decoration:none;
}
ul.my-classes-teacher-toggle li>a.pull-right i{
	display:block;
}
ul.inner-toggle-my-teacher-classes{
	padding:10px;
	display:none;
}
ul.inner-toggle-my-teacher-classes>li{
	padding: 10px;
    background: #2ad;
    margin: 2px;
}
ul.inner-toggle-my-teacher-classes>li a{
	color:#fff;
}
ul.my-classes-teacher-toggle > li > hr{
	margin-top: 4px;
    margin-bottom: 0px;
	border-top: 1px solid #e0e0e0;
}
.display_none{
	display:none;
}
/*Send-message-modal*/
h4.modal-title{
	color: #d9534f;
}
.modal-footer > .form-group{
    width: 100%;
    margin-bottom: 0;
}
.modal-footer > .form-group + button{
    border-radius: 0;
    width: 100%;
    margin-top: 10px;
}
.attachment-send-button {
    background: #2ad;
    margin-top: 14px;
}
.attachment-send-button p {
    display: inline-block;
    margin: 0;
    padding: 1px;
    width: 10%;
    text-align: center;
	border-right: 1px solid #cacaca;
	cursor:pointer;
}
.attachment-send-button p.pull-right{
	border-left: 1px solid #cacaca;
}
.attachment-send-button p>i{	
	font-size: 18px;
    margin-top: 6px;
    color: #fff;
}
.attachment-send-button>button{
	padding: 5px;
    width: 80%;
    background-color: #2ad;
	border:none;
}
ul.teachers-list{
	max-height: 300px;
    overflow: scroll;
	overflow-x:hidden;
}
#all-people ul.teachers-list{
	max-height:inherit;
}
.admin-new-tabs li{
	float:none;
}
ul.teachers-list >li{
	margin:5px;
}
ul.new-group-class > li{
	margin:0;
	margin-bottom:10px;
}
ul.new-group-class > li:last-child{
	margin-bottom:70px;
}
ul.teachers-list > li> h6{
    margin: 0;
    background: #98c2d2;
    padding: 10px;
    color: #fff;
    box-shadow: none;
    cursor: pointer;
}
ul.teachers-list > li> h6 i{
	margin-top: -5px;
}
div.toggle-teachers-classes{
	box-shadow: 1px 5px 8px #a2a1a1;
	display:block;
	width:100%;
}
div.toggle-teachers-classes >ul.nav-tabs{
	box-shadow: 1px 4px 5px #c7c2c2;
	padding:0;
}
div.toggle-teachers-classes > ul{
	max-height:150px;
	overflow-x:hidden;
	overflow-y:scroll;
	padding:5px;
}
div.toggle-teachers-classes > ul>li label{
	cursor:pointer;
}
.modal-label{
	position:relative;
}
.modal-label> input{
	display:none;
}
.modal-label> .media > div.media-left{
	position:relative;
}
.modal-label> .media > div.media-left + div.media-body, .modal-label > .parent-media{
	color:#d9534f;
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
}
.modal-label> .media > div.media-left img{
	background:#d9534f;
    padding: 3px;
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
}
.checkbox-style-block,.uncheckbox-style-block{
    width: 17px;
    height: 17px;
    background: #009688;
    border-radius: 50%;
    position: absolute;
    top: 22px;
    left: -3px;
    box-shadow: 1px 1px 6px #a0a0a0;
    border: 2px solid #fff;
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
}
.uncheckbox-style-block{
	background: red;
}
.checkbox-style-block:before{
    content: "";
    border: solid #ffffff;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    z-index: 1;
    width: 3px;
    height: 8px;
    display: block;
    position: absolute;
    top: 2px;
    left: 5px;
}
.modal-label>input[type="checkbox"]:checked + div.media> div.media-left img{
	background: #009688;
}
.modal-label> input[type="checkbox"]:checked + div.media + span.uncheckbox-style-block+span.checkbox-style-block, 
.modal-label> input[type="checkbox"]:checked + div.parent-media + span.uncheckbox-style-block+span.checkbox-style-block,
.modal-label> input[type="checkbox"]:not(:checked) + div.media + span.uncheckbox-style-block, 
.modal-label> input[type="checkbox"]:not(:checked) + div.parent-media + span.uncheckbox-style-block{
	display:block;
}
.modal-label> input[type="checkbox"]:not(:checked) + div.media + span.uncheckbox-style-block+span.checkbox-style-block, 
.modal-label> input[type="checkbox"]:not(:checked) + div.parent-media + span.uncheckbox-style-block+span.checkbox-style-block,
.modal-label> input[type="checkbox"]:checked + div.media + span.uncheckbox-style-block, 
.modal-label> input[type="checkbox"]:checked + div.parent-media + span.uncheckbox-style-block{
	display:none;
}
.modal-label>input[type="checkbox"]:checked + div.media> div.media-left + div.media-body, .modal-label>input[type="checkbox"]:checked + div.parent-media{
	color:#009688;
}
/*Attendance Modal*/
.attendance-body ul li div.inner-list label input{
	-webkit-appearance:none;
	position:absolute;
	left:-1000px;
	top:-1000px;
}
.attendance-body ul li div.inner-list label input[type="checkbox"]:checked+img+p+span.checkbox-style-block
{
	display:block;
}
.attendance-body ul li div.inner-list label input[type="checkbox"]:checked + img {
	background: #009688;
}
.attendance-body ul li div.inner-list label input[type="checkbox"]:not(:checked)+img+p+span.checkbox-style-block
{
	display:none;
}
.present-student,.attendance-body ul li div.inner-list label input[type="checkbox"]:checked + img + p{
	color: #009688;
}
.attendance-body ul li div.inner-list label input[type="checkbox"]:not(:checked) + img{
	background:#d24c4c;
}
.absent-student,.attendance-body ul li div.inner-list label input[type="checkbox"]:not(:checked) + img + p{ 
	color: #d24c4c;
}
.attendance-body ul{
	overflow-x:scroll;
}
.attendance-body ul li div.inner-list label img{
	width: 90px;
    box-shadow: 1px 1px 5px #009688;
    padding: 7px;    
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
}
.attendance-modal-footer p{
	display: inline-block;
    border-right: 1px solid;
    padding-right: 4px;
}
.attendance-modal-footer p:last-child{
	border: none;
}
.modal-header .close{
	margin-top:4px;
}
/*Admin Pages Home*/
#all-classes-analytics ul li, div.admin-class-page ul li{
    margin: 10px;
}
#all-classes-analytics ul li button, div.admin-class-page ul li button{
    margin: 5px;
    background-color: #ffffff;
    border-color: #2ad;
    color: #2ad;
	padding:0;
}
#all-classes-analytics ul li button:hover, div.admin-class-page ul li button:hover{
	background:none !important;
	border-color:#2ad !important;
}
#all-classes-analytics ul li button a, div.admin-class-page ul li button a{
	display: block;
    padding: 6px 12px;
    color: #2ad;
}
.ch-item {
	width: 200px;
	height: 200px;
	background:#000;
	border-radius: 50%;
	position: relative;
	cursor: default;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	margin-bottom: 10px;
    margin-top: 10px;
}
.btn-custom-info{
	background-color: #2ad;
    border-color: #2ad;
}
.btn-custom-info a{
	color:#fff;
	text-decoration:none;
}
.ch-thumb {	
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	transform-origin: 95% 40%;
	transition: all 0.3s ease-in-out;
}
.ch-thumb span{
	color: #fff;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -26px;
    margin-left: -48px;
    font-size: 24px;
    font-family: 'Julius Sans One', sans-serif;
}
.ch-thumb span + span{
	top: 70%;
    margin-left: -46px;
    font-size: 20px;
}
.ch-thumb:after {
	content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    border-radius: 50%;
    top: 45%;
    left: 96%;
    margin: -4px 0 0 -4px;
    background: radial-gradient(ellipse at center, rgb(189, 185, 184) 0%,rgb(255, 255, 255) 100%);
    box-shadow: 0 0 1px rgba(255,255,255,0.9);
}
.ch-info {
	position: absolute;
	width: inherit;
	height: inherit;
	border-radius: 50%;
	overflow: hidden;
	background:#2ad;
	box-shadow: inset 0 0 0 5px rgba(0,0,0,0.05);
}
.ch-info h3 {
    color: #fff;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 2px;
    font-size: 18px;
    margin: 0 34px;
    padding: 26px 0 0 0;
    height: 85px;
    font-family: 'Open Sans', Arial, sans-serif;
    text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0,0,0,0.3);
    text-align: center;
}

.ch-info p {
    color: #fff;
    padding: 10px 5px;
    font-style: italic;
    margin: 0 30px;
    font-size: 12px;
    border-top: 1px solid rgba(255,255,255,0.5);
    text-align: center;
}
.ch-info p a {
	display: block;
    color: #333;
    width: 50px;
    height: 50px;
    background: rgba(255,255,255,0.3);
    border-radius: 50%;
    color: #fff;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 1px;
    padding-top: 13px;
    margin: 7px auto 0;
    font-family: 'Open Sans', Arial, sans-serif;
    opacity: 0;
    transition: transform 0.3s ease-in-out 0.2s, opacity 0.3s ease-in-out 0.2s, background 0.2s linear 0s;
    transform: translateX(60px) rotate(90deg);
}

.ch-info p a:hover {
	background: rgba(255,255,255,0.5);
}
.ch-item:hover .ch-thumb {
	box-shadow: inset 0 0 0 15px rgba(255,255,255, 0.5), 0 1px 3px rgba(0,0,0,0.2);
	transform: rotate(-110deg);
	z-index: 10;
}
.ch-item:hover .ch-info p a{
	opacity: 1;
	transform: translateX(0px) rotate(0deg);
}
div.datepicker{
	top: 185px !important;
}
#all-attendance-analytics>div.form-group{
	width: 50%;
    display: inline-block;
}
#all-attendance-analytics>div.form-group + div.form-group{
	width: 49%;
}
/*Sticky Notices CSS*/
.notices-header{
	z-index:-1;
}
button.load-earlier-notices{
	position: fixed;
    max-width: 197px;
    margin: 0 auto;
    display: block;
    width: 100%;
    left: 0;
    right: 0;
    padding: 13px;
    border: 0;
    border-radius: 0;
    box-shadow: 1px 1px 2px #464646;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
	background-color: #2ea99d;
}
span.edit-notices-form-field{
	color: #888a8a;
    font-size: 16px;
}
span.edit-notices-form-title{
	color: #2ad;
    font-size: 18px;
}
ul.sticky-notices li div.sticky-notices-tag{
	text-decoration:none;
	color:#000;
	background:#ffc;
	display:block;
	width:14em;
	padding:1em;
	height: 16em;
	overflow:scroll;
	-moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
	/* Safari+Chrome */
	-webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	/* Opera */
	box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	-webkit-transform:rotate(-6deg);
	-o-transform:rotate(-6deg);
	-moz-transform:rotate(-6deg);
	overflow-x: hidden;
}

ul.sticky-notices li{
	margin:15px;
	float:left;
	position:relative;
}
ul.sticky-notices li p.institute-notice{
	font-family:arial;
	font-size: 14px;
	color: #8e8071;
}
ul.sticky-notices li h2{
	margin: 0;
    font-size: 141%;
    font-weight: bold;
    padding-bottom: 10px;
	font-family:"Reenie Beanie",arial,sans-serif;	    
	color: #5ba1bb;
}
ul.sticky-notices li p{
	font-family:"Reenie Beanie",arial,sans-serif;
	font-size: 139%;
    margin: 0;
}
ul.sticky-notices li div.sticky-notices-tag:hover,ul.sticky-notices li div.sticky-notices-tag:focus{
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  position:relative;
  z-index:5;
}
ul.sticky-notices li:nth-child(even) div.sticky-notices-tag{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cfc;
}
ul.sticky-notices li:nth-child(3n) div.sticky-notices-tag{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#ccf;
}
.notice-signature {
	font-family: cursive;
    position: absolute;
    bottom: -13px;
    font-size: 12px;
    right: 0;
    left: 0;
    background: #8e8071;
    color: #fff;
	-webkit-transform:rotate(-6deg);
	-o-transform:rotate(-6deg);
	-moz-transform:rotate(-6deg);
    margin-right: -10px;
    margin-left: 9px;
    margin-bottom: -6px;
    padding-right: 9px;
    box-shadow: 5px 0px 7px rgba(33,33,33,.7);
    padding-bottom: 2px;
}

ul.sticky-notices li:nth-child(even) .notice-signature{
	-o-transform:rotate(4deg);
	-webkit-transform:rotate(4deg);
	-moz-transform:rotate(4deg);
	margin-right: 6px;
    margin-left: -6px;
}
ul.sticky-notices li:nth-child(3n) .notice-signature{
	-o-transform:rotate(-3deg);
	-webkit-transform:rotate(-3deg);
	-moz-transform:rotate(-3deg);
    margin-right: -5px;
    margin-left: 5px;
}
.notices-icon{
	-webkit-transform:rotate(-6deg);
	-o-transform:rotate(-6deg);
	-moz-transform:rotate(-6deg);
	color: #464545;
	position: absolute;
	z-index: 20;
    font-size: 17px !important;
}
.notices-edit-icon{
    right: 33px;
    top: -1px;
}
.notices-delete-icon{
	right: 13px;
    top: -3px;
}
ul.sticky-notices li:nth-child(even) .notices-delete-icon{
	right: 0;
    top: 13px;    
}
ul.sticky-notices li:nth-child(even) .notices-edit-icon{
	right: 20px;
    top: 12px;
}
ul.sticky-notices li:nth-child(3n) .notices-delete-icon{
	right: 5px;
    top: -5px;
}
ul.sticky-notices li:nth-child(3n) .notices-edit-icon{
	right: 25px;
    top: -4px;
}
ul.sticky-notices li:nth-child(3n) .notice-icon{
	-o-transform:rotate(-3deg);
	-webkit-transform:rotate(-3deg);
	-moz-transform:rotate(-3deg);
}
ul.sticky-notices li:nth-child(even) .notice-icon{
	-o-transform:rotate(4deg);
	-webkit-transform:rotate(4deg);
	-moz-transform:rotate(4deg);
}
.mybtn i{
	color:#fff;
}
.new-group-submit-button{
	position: fixed;
    top: 50px;
    right: 15px;
    background: none;
    box-shadow: none;
    border: none;
    color: #fff;
}
div.sticky-notes-new{
	text-decoration:none;
	color:#000;
	background:#fff;
	display:block;
	max-width:450px;
	margin:0 auto;
	padding:1em;
	-moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
	/* Safari+Chrome */
	-webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	/* Opera */
	box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	margin-top: 70px;
	padding: 39px;
    border-radius: 5px;
}


ul.right-self-image{
	margin-top: 0;
	margin-right:0 !important;
}
ul.right-menu-toggle{
    position: absolute;
    top: 50px;
    background: white;
    padding-left: 0;
    right:0;
    width: 150px;
    box-shadow: 1px 1px 12px #ccc7c7;
    z-index: 1;
}
.main-image,.main-school-name{
	display:block;
}
ul.right-menu-toggle li a{
	color: #2ad;
    font-size: 14px;
    display: block;
	padding:10px;
}
ul.right-menu-toggle li a:hover{
	text-decoration:none;
}
.main-school-name{
	color: #2ad;
    padding: 6px;
	border-top: 1px solid #d2cfcf;
    border-bottom: 1px solid #d2cfcf;
}
.main-school-name a{
	color:#fff !important;
}

ul#attachment-toggle-show {
    margin: 0;
    display: none;
    border-bottom: 1px solid #ece9e9;
}
ul#attachment-toggle-show li {
    text-align: center;
}
ul#attachment-toggle-show li label input[type="radio"]{
	position:absolute;
	left:-1000px;
	top:-1000px;
}
ul#attachment-toggle-show li div.inner-list {
    color: #efefef;
    display: block;
	padding:4px;
	-webkit-animation-name: scaleAttachIcons;
    -webkit-animation-duration: 1s;
    animation-name: scaleAttachIcons;
    animation-duration: 1s;
}
ul#attachment-toggle-show li div.inner-list span{
	font-size: 11px;
    font-weight:normal;
	color: #a5a1a1;
}
ul#attachment-toggle-show li div.inner-list i{
	background: #a5a1a1;
    border-radius: 50%;
    box-shadow: 1px 1px 3px #bdb9b9;
    transition: all 1s;
    width: 40px;
    height: 40px;
    line-height: 1.7;
    color: #fff;
}
ul#attachment-toggle-show li div.inner-list:hover> label i{
	-webkit-animation-name: rotateAttachIcons;
    -webkit-animation-duration: 1s;
    animation-name: rotateAttachIcons;
    animation-duration: 1s;
}
ul#attachment-toggle-show li div.inner-list:hover > label i{
	color: #a5a1a1;
	background:#efefef;
	cursor:pointer;
}
ul#attachment-toggle-show div.inner-list:hover > label span{
	color:	#009688;
}
ul#attachment-toggle-show div.inner-list:hover > label span, ul#attachment-toggle-show div.inner-list:hover > label i{
	transition:all 1s;
	-webkit-transition:all 1s;
	-moz-transition:all 1s;
}
@-webkit-keyframes rotateAttachIcons{
	from {-webkit-transform:rotate(0deg)} 
    to {-webkit-transform:rotate(360deg)}
}
@keyframes rotateAttachIcons {
    from {transform:rotate(0deg)} 
    to {transform:rotate(360deg)}
}
@-webkit-keyframes scaleAttachIcons {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
@keyframes scaleAttachIcons {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/*fullcalender custom CSS*/
.calendar{
	max-width: 900px;
    margin: 0 auto;
    margin-top: 50px;
}
.class-calendar, .teacher-calendar{
	margin-top:0;
}
div.calendar div.fc-toolbar{
	padding: 10px;
    background: #98c2d2;
    box-shadow: 1px 1px 6px #5d5d5d;
    color: #fff;
	margin-bottom:0;
}

div.event-index div.calendar div.fc-toolbar{
	margin-top:70px;
}
div.timetable-index-page div.calendar div.fc-toolbar{
	    background: #7b929b;
}
.class-calendar div.fc-toolbar, .teacher-calendar div.fc-toolbar{
	box-shadow: 1px 2px 2px #5d5d5d !important;
}
div.calendar div.fc-toolbar > div.fc-left >div.fc-button-group + button{
	background: #ffffff;
    border: none;
    color: #2ad;
    text-shadow: none;
    opacity: 1;
    border-radius: 0;
    box-shadow: 1px 1px 8px #7a7878;
}
div.calendar div.fc-toolbar > div.fc-right>div.fc-button-group>button{
	background: #ffffff;
    border: none;
    color: #2ad;
}
div.calendar div.fc-toolbar > div.fc-right>div.fc-button-group>button.fc-state-active{
	background: #8f8d8d;
    color: #fff;
    text-shadow: none;
}
div.calendar div.fc-toolbar div.fc-center{
	font-family: 'Julius Sans One', sans-serif;
}
div.calendar div.fc-view-container thead.fc-head > tr td.fc-head-container{
	border: 1px solid #56b0ca;
}
div.calendar div.fc-view-container thead.fc-head > tr td.fc-head-container >div.fc-row>table tr >th{
	background:#56b0ca !important;
	color: #fff;
	padding:10px;
	vertical-align: inherit;
}
div.calendar div.fc-view-container tbody.fc-body td.fc-widget-content > div.fc-scroller> div.fc-day-grid{
	position: absolute;
    width: 100%;
    background: #e9f9fe;
    color: #d72323;
    border: 1px solid #56b0ca;
}
.fc-row .fc-content-skeleton{
	text-align: center;
}
.fc-row .fc-content-skeleton > table> tbody  td.fc-event-container a{
    color: #fff !important;
	border:none !important;
    text-align: center;
    padding: 7px;
}
.fc-time-grid .fc-event, .fc-time-grid .fc-bgevent{
	text-align:center;
}
.fc-month-view .fc-today{
	background: #56b0ca;
}
.fc-month-view td.fc-today{
    color: #fff;
}
.fc-agendaWeek-view .fc-today, .fc-agendaDay-view .fc-today{
	background:#e9f9fe;
}
.fc-row{
	margin-right:0;
}

div.calendar div.fc-agendaDay-view thead.fc-head > tr td.fc-head-container div.fc-row,
div.calendar div.fc-agendaWeek-view thead.fc-head > tr td.fc-head-container div.fc-row,
div.calendar div.fc-agendaDay-view tbody.fc-body > tr td.fc-widget-content div.fc-row,
div.calendar div.fc-agendaWeek-view tbody.fc-body > tr td.fc-widget-content div.fc-row
{
	margin-right:0 !important;
	border-right-width: 0 !important;
}
div.calendar div.fc-agendaDay-view thead.fc-head > tr td.fc-head-container > div.fc-row > table thead tr > th:nth-child(1),
div.calendar div.fc-agendaWeek-view thead.fc-head > tr td.fc-head-container > div.fc-row > table thead tr > th:nth-child(1)
{
	padding: 4px;
}
div.fc-agendaDay-view tr.fc-minor td:nth-child(1),
div.fc-agendaWeek-view tr.fc-minor td:nth-child(1),
div.fc-agendaDay-view tr td.fc-time,
div.fc-agendaWeek-view tr td.fc-time,
div.calendar div.fc-agendaDay-view tbody.fc-body div.fc-bg > table >tbody>tr>td:nth-child(1),
div.calendar div.fc-agendaWeek-view tbody.fc-body div.fc-bg > table >tbody>tr>td:nth-child(1),
{
	background: #56b0ca;
	color:#fff;
}

.fc .fc-toolbar h2{
	font-size: 20px;
	margin-top: 4px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
	height:4px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
#navbar li.active-navigation a, .active-navigation-footer a{
	background: #6bbfdd !important;	
}
/*download page*/
.wrapper-parallex{
	  font-family: 'Julius Sans One', sans-serif;
text-shadow:none;
}
.menu-scroll li{
	text-shadow:none !important;
}
.header-parallex{
  background: #2ad;
  box-shadow: 1px 1px 5px #a59f9f;
  position: fixed;
  left: 0;
  right: 0;
  z-index:10;
  top:0;
}
.burger-menu-div{
	width: 96px;
    height: 81px;
    right: 0;
    cursor: pointer;
	float:right;
}
span.burger-menu{
	width:30px;
	height:4px;
	display:block;
	background:#6d6b6b;
	position:absolute;
	right:0;
	margin:40px;
}
span.burger-menu::before,span.burger-menu::after{
	width:30px;
	content:"";
	position:absolute;
	height:4px;
	display:block;
	top:-9px;
	background:#6d6b6b;
}
span.burger-menu::after{
	top:9px;
}
.brand-header{
  float: left;
}
.brand-header h1{
  margin: 0;
  padding: 27px;
  font-size: 25px;
}
.brand-header h1 img{
	width:60px;
	vertical-align:middle;
}
.header-parallex ul{
  margin: 0;
  padding: 0;
  float: right;
  padding:15px;
}
.header-parallex ul li{
  list-style: none;
  display: inline-block;
}

.header-parallex ul li a{
    padding: 7px;
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: 900;
    padding-top: 16.5px;
    padding-bottom: 16.5px;
}
.swiper-container {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}
.swiper-slide {
	background-position: center;
	background-size: cover;
	width: 300px !important;
	height: 500px !important;
}

section.module .overlay{
	width: 100%;
    height: 100%;
	padding-top: 150px;
    padding-bottom: 200px;
}
.intro-mobile {
    position: absolute;
    left: 0px;
    bottom: -250px;
    max-width: 50%;
    /* width: 570px; */
}
#home{
	position: relative;
	background: #efefef;
}
.letter-spacing{
	letter-spacing: 2px;
    font-size: 30px;
	text-align: center;
}
.relative{
	position: relative;
}
.bigIcon {
    color: #2ad;
    font-size: 50px;
    margin-bottom: 20px;
}
.space100 {
    margin-bottom: 100px;
}
.bold {
    font-weight: bold;
}
.section {
    padding: 150px 0px;
    position: relative;
    z-index: 2;
    overflow: hidden;
}
#why-for-parents {
    border-top: 1px solid #eee;
    text-align: center;
}
.titleSection{
	clear: both;
    margin-bottom: 80px;
    text-align: center;
}
.coloredLine {
    margin: 20px auto 0px;
    width: 40px;
    border-bottom: 1px solid #a5a0a0;
}
.leftFeatures, .rightFeatures {
    margin-top: 50px;
}
#contactForm .form-control{
	background: transparent;
    border: 1px solid #ddd;
    height: 50px;
    margin-bottom: 20px;
    padding: 10px 20px;
    width: 100%;
    color: #161616;
    outline: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 12px;
    box-shadow: none;
}
#contactForm textarea.form-control {
    height: 100px;
    max-height: 120px;
    resize: none;
    margin-bottom: 40px;
    overflow: hidden;
}
.btn-new {
	max-width: 250px;
	vertical-align: middle;
	position: relative;
	top: 0px;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	background: #2ad;
	display: block;
	padding: 15px 30px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #fff;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	letter-spacing: 1px;
	cursor: pointer;
	line-height: 1.42857;
	text-align: center;
	white-space: nowrap;
	border: none;
	margin: 0 auto;
}
footer {
    background: #29282b;
    text-align: center;
    padding: 150px 0px;
}
.space50 {
    margin-bottom: 50px;
}
.clearlist, .clearlist li {
    list-style: none;
    padding: 0;
    margin: 0;
    background: none;
}
.socialList li {
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
}
footer p {
    font-size: 11px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #fff;
}
ul.help-pills{
	background-color: #2ad;
	box-shadow: 1px 3px 3px #908d8d;
	position: fixed;
    left: 0;
    right: 0;
    top: 50px;
    z-index: 3;
}
div.back-to-home{
	background: #2ad;
    width: 100%;
    height: 50px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 3;
}
div.back-to-home i{
	line-height: 2;
    margin-left: 10px;
    color: #fff;
}
div.back-to-home p{
	float: right;
    padding: 13px;
    color: #fff;
    margin-bottom: 0;
    font-size: 18px;
    background: #60b3d2;
	font-family: 'Julius Sans One', sans-serif;
}
div.back-to-home p a{
	color: #fff;
}
ul.help-pills li{
	width: 33.33%;
    text-align: center;
}
ul.help-pills li a{
	padding: 20px;
	color:#fff;
}
ul.help-pills > li.active > a, ul.help-pills > li.active > a:hover, ul.help-pills > li.active > a:focus{
	border-radius: 0;
    background: none;
	border-bottom: 4px solid #fff;
    
}
ul.help-pills > li > a:hover, ul.help-pills > li > a:focus{
	background: none;
	border-radius: 0;
	border-bottom: 4px solid #fff;
}
ul.help-pills > li + li {
	margin-left: 0;
}
div.content-main {
    padding: 10px;
}
div.common-width {
    max-width: 1288px;
    margin: 0 auto;
}
div.actual-content h1 {
    color: #1a7db7;
    font-size: 30px;
}
div.actual-content p {
    font-size: 17px;
}
@media (max-width:661px){
	div.content-main div.row{
		border-bottom: 1px solid #e6e6e6;
	}
	div.content-main div.row:last-child{
		border-bottom:0;
	}
}
@media (min-width: 768px){
	.vertical-align {
		display: flex;
		flex-direction: row;
	}
	.vertical-align > div[class*=" col-"] {
		display: flex;
		align-items: center;
		justify-content: center; 
	}

	.vertical-align > div[class^="col-"] > div,
	.vertical-align > div[class*=" col-"] > div {
		flex-grow: 1;
	}
}

@media only screen and (max-width : 480px) {
	#footerLogo a img{
		width: 240px;
	}
}
@media only screen and (max-width : 767px) and (min-width: 481px) {
	#footerLogo a img{
		width: 380px; 
	}
}
@media only screen and (max-width : 1200px) and (min-width: 767px  ) {
	#footerLogo a img{
		width: 600px;
	}

}

@media only screen and (max-width: 992px) {
    .intro-mobile {
        position: static;
        max-width: 100%;
		margin: 0 auto;
    }
}
@media only screen and (min-width: 992px){
	#home {
		padding: 120px 0px;
	
	}
	.section {
		padding: 100px 0px;
	}
	.leftFeatures {
		margin-top: 0px;
		margin-bottom: 50px;
	}
}
@media (max-width:515px){
	.search-form-main div.form-group{
		float: none !important;
	}
}
@media (min-width:768px){
	.left-self-image >li:nth-child(1){
		display:none;
	}
	.form-inline .form-control{
		margin-bottom:10px;
		width:100%;
	}
	#navbar-toggle-button{
		display:none;
	}
	#navbar ul li a i.menu-inner-icon{
		display:none;
	}
	.caret-dropdown{
		width: 21px;
		height: 100%;
		text-align: center;
		right: -2px;
		color:#fff;
	}
	.navbar-nav>li.self-image>a{
		padding:0;
		padding-top:2px;
	}
	ul.submenu{
		position: absolute;
		border-top: 0px;
		width: 102px;
	    background: rgb(234, 91, 49);
		box-shadow: 1px 2px 1px #656363;
		right: 0;
	}
	ul.submenu>li a{
		color: #fff;
		padding: 8px;
	}
}
@media only screen and (max-width: 470px){
	.carousel-inner{
		max-width: 320px;
		margin: 0 auto;		
	}
	.carousel-inner .item .main-grade-circle{
		margin: 0 auto;
		display:block;
		float:none;
	}
	.truncate{
		width:100px;
		text-overflow:ellipsis;
		white-space:nowrap;
		overflow:hidden;
	}
}
@media only screen and (max-width:350px){
	.main-navbar-brand a i{
	    font-size: 19px;
		margin-right: 2px;
	}
	.main-navbar-brand a{
		padding-top:15px;
	}
	ul.pagination li a{
		font-size:10px !important;
	}
}
@media only screen and(max-width: 475px){
	.width-form-group{
		width:47% !important;
	}
}
@media only screen and (max-width : 480px){
	.right-menu{
		width:150px !important;
		font-size:13px;
	}
	ul.right-menu-toggle {
		right: 47px !important;
	}
	.main-navbar-brand{
		padding-left: 3px;
		padding-right: 3px;
		line-height: 3.5;
	}
	.main-navbar-brand,.main-navbar-brand a{
		font-size:14px;
	}
	.main-navbar-brand a{
		margin-top: -4px;
	}
	ul.footer-list li a{
		font-size: 11px;
	}
	.calender-icon, .notice-icon, .attendance-icon{
		font-size: 15px !Important;
		margin-left: 2px;
	}
	ul.pagination li a{
		font-size:15px;
	}
}
@media (max-width:767px){
	
	.active-navigation a{
		background:#71c3c3;
		color: #fff !important;
		border-bottom:0;
	}
	ul.right-menu-toggle{
		right:60px;
	}
	div.admin-class-page ul li .ch-thumb span{
		margin-left: -43px;
	}
	div.admin-class-page ul li .ch-thumb span + span{
		margin-left: -40px;
	}
	.ch-item{
		width: 150px;
		height: 150px;
	}
	.ch-thumb span{
		margin-top: -31px;
		margin-left: -45px;
		font-size: 18px;
	}
	.ch-thumb span + span{
		margin-left: -35px;
		font-size: 14px;
	}
	.ch-info h3{
		height: 62px;
		font-size: 13px;
	}
	.ch-info p a{
		width: 40px;
		height: 40px;
		padding-top: 10px;
	}
	.container>.navbar-header{
		margin-top: 12px;
	}
	ul.right-self-image{
		margin-bottom:0;
	}
	.navbar-nav>li.main-image>a{
		padding:0;
	}
	.main-image a img{
		width:47px;
		height:47px;
		box-shadow:1px 1px 6px #afacac;
	}
	#navbar{
		background: #fff;
		height: 100%;
		max-height: 100% !important;
		position: fixed;
		top: 49px;
		bottom: 0;
		box-shadow: 1px 1px 4px #bdbcbc;
		width: 250px;
		border: 0;
		right:-250px;
		overflow: scroll;
		overflow-x: hidden;
	}
	#navbar > ul.navbar-nav{
		margin-top:0;
		margin-bottom:100px;
	}
	#navbar > ul.navbar-nav > li{
		border-top:1px solid #e4e4e4;
	}
	#navbar > ul.navbar-nav > li:nth-child(1){
		border:0;
	}
	#navbar > ul.navbar-nav > li a{
		color:#2ad;
	}
	#navbar > ul.navbar-nav > li a span{
		margin-left:7px;
		color:#2ad;
	}
	#navbar > ul.navbar-nav > li:last-child{
		border-bottom:1px solid #e4e4e4;
	}
	.self-image a, .self-image a:hover{
		background-color: #fff !important;
		color: #2ad !important;
	}
	#navbar li.active-navigation a span, .active-navigation-footer a span{
		color:#fff !important;
	}
	#navbar li a:hover, #navbar li a:focus{
		background:#6bbfdd !important;
		color:#fff !important;
		border-bottom: none;
	}
	.self-image a img{
		box-shadow: 1px 1px 6px #afacac;
	}
	.add-class-tabs-container-mobile{
	    overflow-x: auto;
		white-space: nowrap;
		overflow-y: hidden;
		box-shadow: 0px 2px 1px #7b7a7a;
		margin-top: -5px !important;
		position:inherit;
		width:auto;
		min-width:inherit;
	}
	.add-class-list-mobile{
		float:inherit !important;
		display:inline-block;
	}

	::-webkit-scrollbar-thumb {
		background-color: transparent;
	}
	::-webkit-scrollbar {
		-webkit-appearance: none;
		width: 7px;
		height:0px;
	}
	div.classRoute >ul.nav-tabs{
		white-space: nowrap;
		overflow-x: scroll;
		overflow-y:hidden;
	}
}

@media only screen and (max-width: 500px){
	.max-width-button{
		max-width:500px;
		margin: 0 auto;
		text-align: center;
	}
	.max-width-button div {
		float: none !important;
		display: inline-block;
		width: 49%;
		font-size: 12px;
		padding-left: 4px;
		padding-right: 4px;
	}
	.max-width-button div > i{
		margin-left: 4px;
	}
	.max-width-button + a > div{
	    max-width: 500px;
		margin: 0 auto;
		float: none !important;
		margin-top: 8px;
		text-align: center;
	}
}
@media (max-width:360px){
	ul.search-index-conversation-modal div.well-sm > label,
	ul.search-index-conversation-modal div.well-sm > div.media
	{
		width:47% !important;
	}
	ul.search-index-conversation-modal div.well-sm label {
		margin-bottom:0;
	}
	ul.search-index-conversation-modal div.well-sm > label > div.media{
		margin-top:0;
	}
	ul.search-index-conversation-modal div.well-sm > label > div.media > div.media-left > img{
		display:none;
	}
	ul.search-index-conversation-modal div.well-sm > label > div.media>span.uncheckbox-style-block,
	ul.search-index-conversation-modal div.well-sm > label > div.media>span.checkbox-style-block
	{
		top:11px;
	}
	ul.search-index-conversation-modal div.well-sm > div.media h5.media-heading{
		font-size:11px;
	}

}

@media (min-width: 768px){
	.home-new-tabs{
		display:none;
	}
}

@media only screen and (min-width: 768px) and (max-width: 880px){
	#navbar li > a{
		font-size: 12px;
	}
	.navbar-brand.right-menu{
		width: 150px !important;
		font-size: 13px;
	}
	.navbar-brand.truncate{
		font-size: 16px;
		line-height:3.5;
	}

}
@media only screen and (min-width:880px){
	.burger-menu-div{
		display:none;
	}
}
@media only screen and (max-width:880px){
	.header-parallex ul li{
		display:block;
	}
	.header-parallex ul{
		position: absolute;
		right: 0px;
		top: 81px;
		background: #dadada;
		box-shadow: 5px 0px 0px #000;
	}   

}